/**
 * ==================================================================================
 * Home Page stylesheet
 * ==================================================================================
 */

#home {

    .home__header {
        position: relative;
        margin: 50px auto;
        z-index: 1;

        .home__header__title {

        }

        .home__header__content {
            font-size: .65em;
            font-style: italic;
            max-width: 50%;

            a {
                font-size: inherit;
            }
        }
    }

    .home__project-list {
        position: relative;
        z-index: 1;

        ul {
            width: 300px;
            display: inline-block;
            vertical-align: top;
            padding: 0 50px;
            margin: 0;

            li {
                display: block;

                @include transition(transform 0.3s ease);

                a {
                    text-decoration: none;
                    color: inherit;
                }

                p {
                    font-style: italic;
                }
            }

            li:hover {
                @include transform(scale(1.05));
            }
        }
    }
}